@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url(../../assets/fonts/Ubuntu-Condensed/uc.woff) format("woff");
}
.slide H1,
.slide H2,
.slide H3,
.slide H4,
.slide H5 {
  /*position: relative;*/
  z-index: 2;
  font-family: "Ubuntu Condensed",sans-serif;
  line-height: 1;
  font-weight: normal;
}

/* map-keys($map-headers) */
.slide h2 {
  margin: 0 0 28.8px;
  font-size: 57.6px;
}

/* map-keys($map-headers) */
.slide h3 {
  margin: 0 0 27.6px;
  font-size: 55.2px;
}

/* map-keys($map-headers) */
.slide h4 {
  margin: 0 0 20.4px;
  font-size: 40.8px;
}

/* map-keys($map-headers) */
.slide h5 {
  margin: 0 0 14.4px;
  font-size: 28.8px;
}

.slide H2 + H3 {
  margin-top: -30px;
  color: #BBB;
}

.slide .free-fly {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  font: 90px/1 'Ubuntu Condensed', sans-serif;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slide .free-fly .tooltip {
  position: absolute;
  left: 0;
  bottom: -1.9em;
  width: 100%;
  font-size: 30px;
  color: #555555;
}

.sign {
  padding: 0 .5em;
  vertical-align: middle;
  font-size: 3em;
}

/* SVG
------------------------- */
svg {
  /*border: 1px dotted crimson;*/
  vertical-align: top;
  overflow: visible;
}

use {
  -webkit-transition: .5s;
  transition: .5s;
  /* breaks fill - why? */
}

.hidden-svg-defs {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* Slides
------------------------- */
.slide > DIV {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 80px 80px 120px;
}
.slide:after {
  bottom: 30px;
}

.slide--imgcenter > DIV {
  padding: 0;
  text-align: center;
}
.slide--imgcenter > DIV:before {
  content: "";
  display: inline-block;
  height: 640px;
  vertical-align: middle;
}
.slide--imgcenter IMG {
  vertical-align: middle;
}

.slide--vlm > DIV:before {
  content: "";
  display: inline-block;
  height: 440px;
  vertical-align: middle;
  background: gold;
}
.slide--vlm svg, .slide--vlm span {
  display: inline-block;
  vertical-align: middle;
}

.table-cell {
  display: table-cell;
  width: 864px;
  height: 440px;
  vertical-align: middle;
  text-align: center;
}
.table-cell svg, .table-cell span {
  display: inline-block;
  vertical-align: middle;
  margin: .5em 0;
}

.slide--heart .table-cell {
  font: 5.5em/1 'Ubuntu Condensed', sans-serif;
}
.slide--heart svg {
  margin: 0 .1em;
  vertical-align: middle;
}

.slide--horcenter {
  text-align: center;
}

PRE {
  position: relative;
}
PRE:before {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px;
  border-radius: 10px;
}

/*hsl(50, 80%, 75%)*/
.pre--css:before {
  content: "CSS";
  background: #cde87d;
}

.pre--svg:before {
  content: "SVG";
  background: #93ddec;
}

/* Cover
------------------------- */
#Cover {
  text-align: center;
}

#Cover h2 {
  margin: 30px 0 0;
  color: #FFF;
  text-align: center;
  font-size: 70px;
}

#Cover SPAN {
  display: block;
  margin: 10px 0 0;
  text-align: center;
  color: #FFF;
  font-size: 200px;
  line-height: 2;
}

#Cover p a {
  color: #FFF;
}

.slide.cover svg {
  position: relative;
}

#cover-text {
  margin-top: 50px;
  width: 810px;
  height: 290px;
  font-family: 'Arial Black';
  font-size: 14.5em;
  letter-spacing: -0.05em;
}

.cover-text__fill {
  /*fill: url(..#pt-rainbow-stripes);*/
  /*fill: url(/#gr-rainbow-stripes);*/
  /*filter: url(/#fl-shadow);*/
  /*stroke: orange;
  stroke-width: 5;*/
}

/* Popup
------------------------- */
.img-preview {
  display: inline-block;
  width: 24px;
  height: 22px;
  text-indent: 0;
  vertical-align: middle;
}

.popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 35px solid #FFF;
  -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.3), 0 0 50px 300px rgba(0, 0, 0, 0.3), 0 0 50px 300px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3), 0 0 50px 300px rgba(0, 0, 0, 0.3), 0 0 50px 300px rgba(255, 255, 255, 0.5);
  text-indent: 0;
  cursor: pointer;
}
.popup IMG {
  /*border: 1px solid orange;*/
}
.popup:before {
  content: "\2573";
  /* \2715 */
  position: absolute;
  display: block;
  right: -2.1em;
  top: -2.1em;
  width: 1.5em;
  height: 1.5em;
  background: #444;
  border: .2em solid #FFF;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 1.5;
  font-size: 1em;
  color: #FFF;
}

/* Backgrounds
------------------------- */
.bg--dark {
  background: #000;
}
.bg--dark H2 {
  color: #FFF;
}

.bg--dark-gray {
  background: #555;
}
.bg--dark-gray H2 {
  color: #FFF;
}

.bg--gray-wood {
  background: #444444 url(/assets/img/parts/dark-wood.jpg);
}
.bg--gray-wood H2 {
  color: #FFF;
}

.bg--concrete {
  background: #dddddd url(/assets/img/parts/concrete.png);
}

.bg--dark-triangles {
  /*background: #222 url(/assets/img/parts/triangles.png);*/
  background: #050505 url(/assets/img/parts/swirl.png);
}
.bg--dark-triangles H2 {
  color: #FFF;
}

/* Columns
------------------------- */
.column {
  width: 49%;
}
.column--left {
  float: left;
}
.column--right {
  float: right;
}

.ui-resizable {
  position: relative;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ui-resizable:hover {
  border-color: #DDD;
}

.ui-resizable-handle {
  position: absolute;
  display: block;
  font-size: 0.1px;
}

.ui-resizable-s {
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 7px;
  cursor: s-resize;
}

.ui-resizable-e {
  top: 0;
  right: -5px;
  width: 7px;
  height: 100%;
  cursor: e-resize;
}

.ui-resizable-se {
  right: 1px;
  bottom: 1px;
  width: 35px;
  height: 35px;
  cursor: se-resize;
}
.ui-resizable-se:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 0 solid;
  border-color: transparent;
  border-width: 0 0 35px 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.ui-resizable:hover .ui-resizable-se:before {
  border-color: #DDD  transparent;
}

/* Examples
---------------------- */
.resizable--car,
.resizable--cat {
  min-height: 35px;
  max-height: 310px;
  min-width: 35px;
  max-width: 100%;
}

/*16px*/
.wrapper--icons-16-64 {
  /*width: 580px;*/
  margin: 0;
}
.wrapper--icons-16-64 .icons {
  margin-bottom: 1.6rem;
  line-height: 1;
  text-align: center;
}
.wrapper--icons-16-64 .icons:before {
  /*content: attr(data-size);*/
  display: inline-block;
  width: 72px;
  line-height: 1.5em;
  margin: 0 .5rem 0 0;
  vertical-align: middle;
  text-align: right;
  font-family: Georgia, serif;
  color: tomato;
}
.wrapper--icons-16-64 .icons-size--16 {
  font-size: 1.32em;
}
.wrapper--icons-16-64 .icons-size--32 {
  font-size: 2.64em;
}
.wrapper--icons-16-64 .icons-size--48 {
  font-size: 3.96em;
}
.wrapper--icons-16-64 .icons-size--64 {
  font-size: 5.28em;
}
.wrapper--icons-16-64 .icon {
  display: inline-block;
  width: 1.32em;
  height: 1em;
  margin: 0 -.1em;
  background: url() 0 0 no-repeat;
  background-image: url(../../assets/img/svg/sprite-showsizes.svg);
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  vertical-align: middle;
  list-style: none;
}
.wrapper--icons-16-64 .icon:before {
  content: none;
}
.wrapper--icons-16-64 .icon--cloud {
  display: none;
  background-position: -1.5em 0;
}
.wrapper--icons-16-64 .icon--star {
  background-position: -3em 0;
}
.wrapper--icons-16-64 .icon--airplane {
  background-position: -4.5em 0;
}
.wrapper--icons-16-64 .icon--speaker {
  background-position: -5.95em 0;
}
.wrapper--icons-16-64 .icon--flask {
  background-position: -7.45em 0;
}

/* Common
------------------------- */
.list--columns LI {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
  text-indent: 0 !important;
  text-align: center;
  /*border: 1px solid;*/
}
.list--columns LI:before {
  content: none !important;
}
.list--columns LI B {
  display: block;
  font-size: .8em;
}

.js-toggle-code {
  overflow: hidden;
  cursor: pointer;
}
.js-toggle-code:after {
  content: "";
  position: absolute;
  display: block;
  right: .6em;
  top: .6em;
  width: 1em;
  height: 1em;
  border: 1px solid;
  color: #999;
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20viewbox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Crect%20fill%3D%22%23999%22%20x%3D%221%22%20y%3D%229%22%20width%3D%2218%22%20height%3D%222%22/%3E%3C/svg%3E);
  background-position: 2px 2px;
}
.js-toggle-code.is--collapsed:after {
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20viewbox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Crect%20fill%3D%22%23999%22%20x%3D%229%22%20y%3D%221%22%20width%3D%222%22%20height%3D%2218%22/%3E%3Crect%20fill%3D%22%23999%22%20x%3D%221%22%20y%3D%229%22%20width%3D%2218%22%20height%3D%222%22/%3E%3C/svg%3E);
}

.demo__code {
  display: block;
  position: relative;
  background: transparent;
}

/* Highlight
------------------------- */
.demo__content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.no-highlight:before {
  opacity: 0;
}

/* Cat
------------------------- */
.preview--cat {
  display: table-cell;
  width: 864px;
  height: 440px;
  text-align: center;
  vertical-align: middle;
}
.preview--cat IMG {
  max-height: 100%;
  width: auto;
}

/* Demo Filling
------------------------- */
.slide--fillingdemo PRE,
.slide--fillingdemo TEXTAREA {
  position: relative;
  z-index: 2;
  padding: .2em .5em;
  background: #FFF;
  -webkit-transition: .2s;
  transition: .2s;
}
.slide--fillingdemo .lower-level {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 27%;
  font-size: 90px;
}
.slide--fillingdemo .demo__view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.slide--fillingdemo svg {
  width: 100%;
  height: 100%;
  /*border: 1px solid green;*/
}
.slide--fillingdemo .demo__content {
  position: relative;
  z-index: 2;
}

.slide--strokewidth PRE {
  width: 60%;
  margin: 18.5% auto 0;
}

/* Demo Edit Properties
------------------------- */
.demo--editproperty .demo__code {
  width: 100%;
  height: 2em;
  margin: 0 0 45px;
  border: 0;
  outline: none;
  line-height: 2;
  font-family: 'Anka Coder',monospace;
  font-size: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22steelblue%22%20d%3D%22M30.277%2C1.722C29.168%2C0.611%2C27.691%2C0%2C26.121%2C0c-1.569%2C0-3.045%2C0.61-4.154%2C1.72L4.295%2C19.291%0AC4.19%2C19.395%2C4.11%2C19.52%2C4.06%2C19.658l-4%2C11c-0.129%2C0.355-0.046%2C0.756%2C0.215%2C1.031C0.467%2C31.891%2C0.73%2C32%2C1%2C32%0Ac0.098%2C0%2C0.196-0.014%2C0.293-0.044l9.949-3.052c0.156-0.047%2C0.298-0.133%2C0.414-0.248l18.621-18.621C31.389%2C8.926%2C32%2C7.448%2C32%2C5.878%0AC31.999%2C4.309%2C31.389%2C2.832%2C30.277%2C1.722z%20M10.093%2C27.165l-3.724%2C1.144c-0.217-0.637-0.555-1.201-1.016-1.662%0Ac-0.401-0.4-0.866-0.709-1.356-0.961L5.7%2C21H8v2c0%2C0.553%2C0.447%2C1%2C1%2C1h1.765L10.093%2C27.165z%20M24.812%2C12.671L12.629%2C24.855%0Al0.35-1.647c0.062-0.296-0.012-0.603-0.202-0.837C12.587%2C22.136%2C12.302%2C22%2C12%2C22h-2v-2c0-0.552-0.448-1-1-1H7.423L19.316%2C7.175%0Al0.011%2C0.011c0.733-0.733%2C1.707-1.136%2C2.743-1.136c1.035%2C0%2C2.01%2C0.403%2C2.742%2C1.136c0.731%2C0.733%2C1.137%2C1.707%2C1.137%2C2.743%0AC25.949%2C10.965%2C25.546%2C11.938%2C24.812%2C12.671z%20M28.863%2C8.621L27.93%2C9.554c-0.09-1.429-0.683-2.761-1.703-3.782%0Ac-1.021-1.022-2.355-1.614-3.787-1.703l0.937-0.931l0.002-0.002C24.111%2C2.403%2C25.085%2C2%2C26.121%2C2s2.01%2C0.403%2C2.742%2C1.136%0AC29.596%2C3.869%2C30%2C4.843%2C30%2C5.878C30%2C6.915%2C29.598%2C7.889%2C28.863%2C8.621z%20M22.293%2C8.293l-10%2C10c-0.391%2C0.391-0.391%2C1.023%2C0%2C1.414%0AC12.488%2C19.902%2C12.744%2C20%2C13%2C20s0.511-0.098%2C0.707-0.293l10-10c0.391-0.391%2C0.391-1.023%2C0-1.414S22.684%2C7.902%2C22.293%2C8.293z%22/%3E%0A%3C/svg%3E%0A);
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 99% center;
}
.demo--editproperty .demo__code:focus {
  background-color: palegoldenrod;
}
.demo--editproperty .code--two-lines {
  height: 4em;
}

/* Demo Live
------------------------- */
.demo--live {
  margin-bottom: 24px;
}
.demo--live:after {
  content: "";
  display: table;
  width: 100%;
}
.demo--live .demo__content {
  margin-top: 2em;
}
.demo--live .demo__view svg {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-height: 100%;
}
.demo--live .demo__textfield {
  width: 100%;
  border: 0 solid #555;
  outline: none;
  /*border-radius: 5px;*/
  font-family: 'Anka Coder', monospace;
  font-size: 21.6px;
  line-height: 1.4;
  color: #000;
}
.demo--live .demo__code {
  height: 161.3304px;
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22steelblue%22%20d%3D%22M30.277%2C1.722C29.168%2C0.611%2C27.691%2C0%2C26.121%2C0c-1.569%2C0-3.045%2C0.61-4.154%2C1.72L4.295%2C19.291%0AC4.19%2C19.395%2C4.11%2C19.52%2C4.06%2C19.658l-4%2C11c-0.129%2C0.355-0.046%2C0.756%2C0.215%2C1.031C0.467%2C31.891%2C0.73%2C32%2C1%2C32%0Ac0.098%2C0%2C0.196-0.014%2C0.293-0.044l9.949-3.052c0.156-0.047%2C0.298-0.133%2C0.414-0.248l18.621-18.621C31.389%2C8.926%2C32%2C7.448%2C32%2C5.878%0AC31.999%2C4.309%2C31.389%2C2.832%2C30.277%2C1.722z%20M10.093%2C27.165l-3.724%2C1.144c-0.217-0.637-0.555-1.201-1.016-1.662%0Ac-0.401-0.4-0.866-0.709-1.356-0.961L5.7%2C21H8v2c0%2C0.553%2C0.447%2C1%2C1%2C1h1.765L10.093%2C27.165z%20M24.812%2C12.671L12.629%2C24.855%0Al0.35-1.647c0.062-0.296-0.012-0.603-0.202-0.837C12.587%2C22.136%2C12.302%2C22%2C12%2C22h-2v-2c0-0.552-0.448-1-1-1H7.423L19.316%2C7.175%0Al0.011%2C0.011c0.733-0.733%2C1.707-1.136%2C2.743-1.136c1.035%2C0%2C2.01%2C0.403%2C2.742%2C1.136c0.731%2C0.733%2C1.137%2C1.707%2C1.137%2C2.743%0AC25.949%2C10.965%2C25.546%2C11.938%2C24.812%2C12.671z%20M28.863%2C8.621L27.93%2C9.554c-0.09-1.429-0.683-2.761-1.703-3.782%0Ac-1.021-1.022-2.355-1.614-3.787-1.703l0.937-0.931l0.002-0.002C24.111%2C2.403%2C25.085%2C2%2C26.121%2C2s2.01%2C0.403%2C2.742%2C1.136%0AC29.596%2C3.869%2C30%2C4.843%2C30%2C5.878C30%2C6.915%2C29.598%2C7.889%2C28.863%2C8.621z%20M22.293%2C8.293l-10%2C10c-0.391%2C0.391-0.391%2C1.023%2C0%2C1.414%0AC12.488%2C19.902%2C12.744%2C20%2C13%2C20s0.511-0.098%2C0.707-0.293l10-10c0.391-0.391%2C0.391-1.023%2C0-1.414S22.684%2C7.902%2C22.293%2C8.293z%22/%3E%0A%3C/svg%3E%0A);
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 99.5% top;
}
.demo--live pre {
  float: right;
  width: 65%;
  margin-top: 1em;
}
.demo--live B {
  display: inline-block;
  font: bold .8em/1 Arial !important;
}

/* Demo Switch
------------------------- */
.demo__switch {
  font-size: .9em;
  line-height: 1.4;
}
.demo__switch DL {
  display: inline-block;
  margin-right: 1em;
}
.demo__switch DL DT,
.demo__switch DL DD {
  padding: .2em 1.5em .2em 2em;
}
.demo__switch DL DT {
  margin-bottom: .5em;
  font-weight: bold;
}
.demo__switch DL DD {
  position: relative;
  margin: .3em 0;
  border-radius: 10px;
  cursor: pointer;
}
.demo__switch DL DD:nth-child(2n) {
  background: #EEE;
}
.demo__switch DL DD:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: .5em;
  width: .9em;
  height: .9em;
  margin: auto;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.demo__switch DL DD:hover:before {
  border: 3px solid rgba(0, 0, 0, 0.2);
}
.demo__switch DL .switch--checked:before {
  background: -webkit-radial-gradient(at center, #333333 40%, transparent 50%) no-repeat;
  background: radial-gradient(at center, #333333 40%, transparent 50%) no-repeat;
  border: 3px solid rgba(0, 0, 0, 0.1);
}
.demo__switch--horizontal DD {
  display: inline-block;
}
.demo__switch--horizontal DD:nth-child(2n) {
  background: none;
}

/* Demo Rect
------------------------- */
.demo--rect-1 .demo__content {
  position: relative;
}
.demo--rect-1 .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(29.3328px, palegoldenrod), color-stop(58.6656px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background: linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background-position: 0 .2em;
}
.demo--rect-2 .demo__content {
  position: relative;
}
.demo--rect-2 .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(87.9984px, palegoldenrod), color-stop(117.3312px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 87.9984px, palegoldenrod 87.9984px, palegoldenrod 117.3312px, transparent 117.3312px);
  background: linear-gradient(transparent 87.9984px, palegoldenrod 87.9984px, palegoldenrod 117.3312px, transparent 117.3312px);
  background-position: 0 .2em;
}
.demo--rect-3 .demo__content {
  position: relative;
}
.demo--rect-3 .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(87.9984px, palegoldenrod), color-stop(117.3312px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 87.9984px, palegoldenrod 87.9984px, palegoldenrod 117.3312px, transparent 117.3312px);
  background: linear-gradient(transparent 87.9984px, palegoldenrod 87.9984px, palegoldenrod 117.3312px, transparent 117.3312px);
  background-position: 0 .2em;
}

/* Demo Circle
------------------------- */
.demo--circle .demo__content {
  position: relative;
}
.demo--circle .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(29.3328px, palegoldenrod), color-stop(58.6656px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background: linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background-position: 0 .2em;
}

/* Demo Polygon
------------------------- */
.demo--polygon .demo__code {
  position: relative;
}
.demo--polygon .demo__code:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(29.3328px, palegoldenrod), color-stop(58.6656px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background: linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background-position: 0 .2em;
}

.demo--polygon-star .demo__content {
  position: relative;
}
.demo--polygon-star .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(29.3328px, palegoldenrod), color-stop(58.6656px, palegoldenrod), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(58.6656px, palegoldenrod), color-stop(87.9984px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px), -webkit-linear-gradient(transparent 58.6656px, palegoldenrod 58.6656px, palegoldenrod 87.9984px, transparent 87.9984px);
  background: linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px), linear-gradient(transparent 58.6656px, palegoldenrod 58.6656px, palegoldenrod 87.9984px, transparent 87.9984px);
  background-position: 0 .2em;
}

/* Demo Lines
------------------------- */
.demo--line .demo__content {
  position: relative;
}
.demo--line .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(29.3328px, palegoldenrod), color-stop(58.6656px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background: linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background-position: 0 .2em;
}

.demo--polyline .demo__content {
  position: relative;
}
.demo--polyline .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(29.3328px, palegoldenrod), color-stop(58.6656px, palegoldenrod), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(58.6656px, palegoldenrod), color-stop(87.9984px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px), -webkit-linear-gradient(transparent 58.6656px, palegoldenrod 58.6656px, palegoldenrod 87.9984px, transparent 87.9984px);
  background: linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px), linear-gradient(transparent 58.6656px, palegoldenrod 58.6656px, palegoldenrod 87.9984px, transparent 87.9984px);
  background-position: 0 .2em;
}

.demo--path .demo__content {
  position: relative;
}
.demo--path .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(29.3328px, palegoldenrod), color-stop(58.6656px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background: linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background-position: 0 .2em;
}

.demo--path-abs-rel .demo__content {
  position: relative;
}
.demo--path-abs-rel .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(87.9984px, palegoldenrod), color-stop(117.3312px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 87.9984px, palegoldenrod 87.9984px, palegoldenrod 117.3312px, transparent 117.3312px);
  background: linear-gradient(transparent 87.9984px, palegoldenrod 87.9984px, palegoldenrod 117.3312px, transparent 117.3312px);
  background-position: 0 .2em;
}

.demo--path-circ .demo__content {
  position: relative;
}
.demo--path-circ .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(29.3328px, palegoldenrod), color-stop(58.6656px, palegoldenrod), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(58.6656px, palegoldenrod), color-stop(87.9984px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px), -webkit-linear-gradient(transparent 58.6656px, palegoldenrod 58.6656px, palegoldenrod 87.9984px, transparent 87.9984px);
  background: linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px), linear-gradient(transparent 58.6656px, palegoldenrod 58.6656px, palegoldenrod 87.9984px, transparent 87.9984px);
  background-position: 0 .2em;
}

/* Demo Sizes
------------------------- */
.demo--sizes .demo__view {
  max-height: 380px;
}
.demo--sizes svg {
  border: 2px dashed orangered;
}

.gr--star-viewbox rect {
  fill: gold;
}
.gr--star-viewbox circle {
  fill: orangered;
}
.gr--star-viewbox .star {
  -webkit-transform: scale(0.8) translate(27px, 25px);
  -ms-transform: scale(0.8) translate(27px, 25px);
  transform: scale(0.8) translate(27px, 25px);
  fill: gold;
}

/* Demo preserveAspectRatio
------------------------- */
.demo--par .demo__view {
  max-height: 350px;
  margin: 0;
}
.demo--par PRE {
  margin-bottom: 0;
}
.demo--par .demo__code {
  margin: 1em 0;
}
.demo--par svg {
  border: 2px dashed orangered;
}

/* Demo Fill
------------------------- */
.demo--fill .demo__view {
  height: 310px;
}
.demo--fill text {
  font: bold italic 60px/1 Georgia;
}
.demo--fill .demo__content {
  height: 234.6624px;
}

/* Demo Stroke
------------------------- */
.demo--stroke-dec PRE {
  display: inline-block;
  width: 322px;
  margin-bottom: 0;
  text-indent: 0;
}

.demo--linecap LI {
  margin-bottom: 100px;
}
.demo--linecap svg {
  vertical-align: bottom;
}

.demo--linejoin LI {
  margin-bottom: 30px;
}
.demo--linejoin svg {
  margin-left: 30px;
  vertical-align: middle;
}

.demo--dasharray PRE {
  display: inline-block;
  margin-bottom: 0;
  text-indent: 0;
}
.demo--dasharray LI {
  margin-bottom: 25px;
}

.demo--dashoffset .demo__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.demo--dashoffset .demo__code {
  position: absolute;
}
.demo--dashoffset .demo__code--1 {
  left: 54%;
  top: 76px;
  width: 380px;
}
.demo--dashoffset .demo__code--2 {
  left: 60%;
  top: 305px;
  width: 370px;
}
.demo--dashoffset svg {
  width: 65%;
}

.demo--stroke-opacity .demo__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.demo--stroke-opacity .demo__code {
  position: absolute;
  top: 255px;
  right: 0;
  left: 0;
  width: 300px;
  margin: auto;
  padding-right: 35px;
  text-align: center;
}

/* Demo stroke-dasharray Animation
------------------------- */
.pre--demo-dasharray code:nth-child(3),
.pre--demo-dasharray code:nth-child(8) {
  background: palegoldenrod;
}

.demo--stroke-dasharr-anim path {
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 530;
  -webkit-animation: dasharray 8s infinite alternate;
  animation: dasharray 8s infinite alternate;
}

@-webkit-keyframes dasharray {
  100% {
    stroke-dasharray: 0 530;
  }
}

@keyframes dasharray {
  100% {
    stroke-dasharray: 0 530;
  }
}
/* Demo stroke-dasharray + stroke-offset Animation
------------------------------------------------- */
.pre--demo-dashoffset code:nth-child(2),
.pre--demo-dashoffset code:nth-child(4) {
  background: palegoldenrod;
}

.demo--dashofset-anim .g-circles circle {
  -webkit-transform-origin: 120px 120px;
  -ms-transform-origin: 120px 120px;
  transform-origin: 120px 120px;
}
.demo--dashofset-anim .g-circles circle:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.demo--dashofset-anim .g-circles circle:nth-child(3) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.demo--dashofset-anim .g-circles circle:nth-child(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.demo--dashofset-anim .g-circles circle:nth-child(5) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}
.demo--dashofset-anim .g-circles circle:nth-child(6) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.demo--dashofset-anim .g-circles circle:nth-child(7) {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}
.demo--dashofset-anim .g-circles circle:nth-child(8) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.demo--dashofset-anim .g-circles circle:nth-child(9) {
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
}
.demo--dashofset-anim .g-circles circle:nth-child(10) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.demo--dashofset-anim .g-circles circle:nth-child(11) {
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s;
}
.demo--dashofset-anim .g-circles circle:nth-child(12) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.demo--dashofset-anim .g-circles circle:nth-child(13) {
  -webkit-animation-delay: 3.25s;
  animation-delay: 3.25s;
}
.demo--dashofset-anim .g-circles circle:nth-child(14) {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.demo--dashofset-anim .g-circles circle:nth-child(15) {
  -webkit-animation-delay: 3.75s;
  animation-delay: 3.75s;
}
.demo--dashofset-anim.demo--run circle {
  -webkit-animation: rotation 6s infinite alternate;
  animation: rotation 6s infinite alternate;
}

@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.demo--lights {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: lightseagreen;
  color: lightseagreen;
}

.star--outline {
  -webkit-transform-origin: 97px 96px;
  -ms-transform-origin: 97px 96px;
  transform-origin: 97px 96px;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 4;
  -webkit-animation: stardashoffset 1s infinite linear;
  animation: stardashoffset 1s infinite linear;
}

.group--stars use {
  -webkit-transform-origin: 97px 72px;
  -ms-transform-origin: 97px 72px;
  transform-origin: 97px 72px;
  /*animation:  starmove 3s infinite linear;*/
}
.group--stars use:nth-child(2) {
  -webkit-transform: scale(0.59184);
  -ms-transform: scale(0.59184);
  transform: scale(0.59184);
}
.group--stars use:nth-child(3) {
  -webkit-transform: scale(0.38776);
  -ms-transform: scale(0.38776);
  transform: scale(0.38776);
}
.group--stars use:nth-child(4) {
  -webkit-transform: scale(0.18367);
  -ms-transform: scale(0.18367);
  transform: scale(0.18367);
}

.c-lights {
  fill: none;
  -webkit-transform-origin: 512px 320px;
  -ms-transform-origin: 512px 320px;
  transform-origin: 512px 320px;
  -webkit-animation: rotation 20s infinite linear;
  animation: rotation 20s infinite linear;
}

@-webkit-keyframes starmove {
  0% {
    -webkit-transform-origin: 62.08px 76.8px;
    transform-origin: 62.08px 76.8px;
  }

  12.5% {
    -webkit-transform-origin: 97px 63.84px;
    transform-origin: 97px 63.84px;
  }

  25% {
    -webkit-transform-origin: 139.68px 76.8px;
    transform-origin: 139.68px 76.8px;
  }

  37.5% {
    -webkit-transform-origin: 133.86px 96px;
    transform-origin: 133.86px 96px;
  }

  50% {
    -webkit-transform-origin: 128.04px 120.96px;
    transform-origin: 128.04px 120.96px;
  }

  65.5% {
    -webkit-transform-origin: 97px 137.28px;
    transform-origin: 97px 137.28px;
  }

  75% {
    -webkit-transform-origin: 69.84px 120.96px;
    transform-origin: 69.84px 120.96px;
  }

  87.5% {
    -webkit-transform-origin: 64.505px 96px;
    transform-origin: 64.505px 96px;
  }

  100% {
    -webkit-transform-origin: 62.08px 76.8px;
    transform-origin: 62.08px 76.8px;
  }
}

@keyframes starmove {
  0% {
    -webkit-transform-origin: 62.08px 76.8px;
    -ms-transform-origin: 62.08px 76.8px;
    transform-origin: 62.08px 76.8px;
  }

  12.5% {
    -webkit-transform-origin: 97px 63.84px;
    -ms-transform-origin: 97px 63.84px;
    transform-origin: 97px 63.84px;
  }

  25% {
    -webkit-transform-origin: 139.68px 76.8px;
    -ms-transform-origin: 139.68px 76.8px;
    transform-origin: 139.68px 76.8px;
  }

  37.5% {
    -webkit-transform-origin: 133.86px 96px;
    -ms-transform-origin: 133.86px 96px;
    transform-origin: 133.86px 96px;
  }

  50% {
    -webkit-transform-origin: 128.04px 120.96px;
    -ms-transform-origin: 128.04px 120.96px;
    transform-origin: 128.04px 120.96px;
  }

  65.5% {
    -webkit-transform-origin: 97px 137.28px;
    -ms-transform-origin: 97px 137.28px;
    transform-origin: 97px 137.28px;
  }

  75% {
    -webkit-transform-origin: 69.84px 120.96px;
    -ms-transform-origin: 69.84px 120.96px;
    transform-origin: 69.84px 120.96px;
  }

  87.5% {
    -webkit-transform-origin: 64.505px 96px;
    -ms-transform-origin: 64.505px 96px;
    transform-origin: 64.505px 96px;
  }

  100% {
    -webkit-transform-origin: 62.08px 76.8px;
    -ms-transform-origin: 62.08px 76.8px;
    transform-origin: 62.08px 76.8px;
  }
}
@-webkit-keyframes stardashoffset {
  100% {
    stroke-dashoffset: -32;
  }
}
@keyframes stardashoffset {
  100% {
    stroke-dashoffset: -32;
  }
}
/* Demo G
------------------------- */
.demo--g .demo__view {
  height: 210px;
}
.demo--g .demo__content {
  position: relative;
}
.demo--g .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(29.3328px, palegoldenrod), color-stop(58.6656px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background: linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background-position: 0 .2em;
}
.demo--g .demo__code {
  height: 219.996px;
}

/* Demo Use
------------------------- */
.demo--use .demo__view {
  height: 155px;
}
.demo--use .demo__content {
  position: relative;
}
.demo--use .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(175.9968px, palegoldenrod), color-stop(205.3296px, palegoldenrod), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(205.3296px, palegoldenrod), color-stop(234.6624px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 175.9968px, palegoldenrod 175.9968px, palegoldenrod 205.3296px, transparent 205.3296px), -webkit-linear-gradient(transparent 205.3296px, palegoldenrod 205.3296px, palegoldenrod 234.6624px, transparent 234.6624px);
  background: linear-gradient(transparent 175.9968px, palegoldenrod 175.9968px, palegoldenrod 205.3296px, transparent 205.3296px), linear-gradient(transparent 205.3296px, palegoldenrod 205.3296px, palegoldenrod 234.6624px, transparent 234.6624px);
  background-position: 0 .2em;
}
.demo--use .demo__code {
  height: 307.9944px;
}

/* Demo Defs
------------------------- */
.demo--defs .demo__view {
  height: 120px;
}
.demo--defs .demo__content {
  position: relative;
}
.demo--defs .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(29.3328px, palegoldenrod), color-stop(58.6656px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background: linear-gradient(transparent 29.3328px, palegoldenrod 29.3328px, palegoldenrod 58.6656px, transparent 58.6656px);
  background-position: 0 .2em;
}
.demo--defs .demo__code {
  height: 337.3272px;
}

/* Demo Symbol
------------------------- */
.demo--symbol .demo__view {
  height: 120px;
}
.demo--symbol .demo__content {
  position: relative;
}
.demo--symbol .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(58.6656px, palegoldenrod), color-stop(87.9984px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 58.6656px, palegoldenrod 58.6656px, palegoldenrod 87.9984px, transparent 87.9984px);
  background: linear-gradient(transparent 58.6656px, palegoldenrod 58.6656px, palegoldenrod 87.9984px, transparent 87.9984px);
  background-position: 0 .2em;
}
.demo--symbol .demo__code {
  height: 337.3272px;
}

/* Demo pattern
------------------------- */
.demo--pattern .demo__view {
  height: 120px;
}
.demo--pattern .demo__content {
  position: relative;
}
.demo--pattern .demo__content:before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(58.6656px, palegoldenrod), color-stop(87.9984px, palegoldenrod), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(263.9952px, palegoldenrod), color-stop(293.328px, palegoldenrod), to(transparent));
  background: -webkit-linear-gradient(transparent 58.6656px, palegoldenrod 58.6656px, palegoldenrod 87.9984px, transparent 87.9984px), -webkit-linear-gradient(transparent 263.9952px, palegoldenrod 263.9952px, palegoldenrod 293.328px, transparent 293.328px);
  background: linear-gradient(transparent 58.6656px, palegoldenrod 58.6656px, palegoldenrod 87.9984px, transparent 87.9984px), linear-gradient(transparent 263.9952px, palegoldenrod 263.9952px, palegoldenrod 293.328px, transparent 293.328px);
  background-position: 0 .2em;
}
.demo--pattern .demo__code {
  height: 337.3272px;
}

#pt-text {
  font: italic .7em/2 Georgia;
  color: #000;
}

.demo--patterns {
  height: 500px;
}
.demo--patterns svg {
  float: left;
  width: 32%;
  height: 100%;
}
.demo--patterns svg:nth-child(n+2) {
  margin-left: 2%;
}

/* Demo transform
------------------------- */
.demo--transform .demo__view {
  /*width: 200px;*/
  height: 150px;
}
.demo--transform .demo__code {
  height: 234.6624px;
}

.rect-transform-before {
  fill: none;
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 10 5;
}

.rect-transform-after {
  fill-opacity: .7;
}

/* Demo stacks
------------------------- */
.pre--stacks code:nth-child(2),
.pre--stacks code:nth-child(6) {
  background: palegoldenrod;
}

.demo--stacks .demo__view {
  width: 200px;
  height: 200px;
}
.demo--stacks text {
  font: 90px/1 Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  fill: #FFF;
}
.demo--stacks .hidden {
  display: none;
}
.demo--stacks .demo__code {
  height: 190px;
}

.slide--stacks-demo {
  /*text-align: center;*/
}

.list--stacks-demo {
  display: inline-block;
  margin-bottom: 0 !important;
}
.list--stacks-demo LI {
  display: inline-block;
  margin-right: 0;
  vertical-align: top;
  text-indent: 0 !important;
  min-width: 290px;
  text-align: left;
  color: #999;
}
.list--stacks-demo LI:before {
  content: none !important;
}
.list--stacks-demo LI:nth-child(1) {
  margin-right: 100px;
}
.list--stacks-demo .text {
  white-space: nowrap;
  font-style: italic;
  margin-bottom: 20px;
}
.list--stacks-demo B {
  color: #000;
}

.bg--test-stacks {
  width: 250px;
  height: 250px;
  background: url(../../assets/img/svg/yes-no.svg#yes);
}

/* Demo Masks
------------------------- */
.demo--mask .demo__code {
  height: 205.3296px;
}
.demo--mask .demo__codepart {
  height: 146.664px;
}

.clip-text {
  font: bold italic 6.5em/1 Georgia;
}

#fo-text {
  font: bold italic 0.4em/1 Georgia;
}

.path-heart {
  /*transform-origin: 150px 130px;*/
  -webkit-transform-origin: 87px 90px;
  /*transform-origin: 150px 130px;*/
  -ms-transform-origin: 87px 90px;
  /*transform-origin: 150px 130px;*/
  transform-origin: 87px 90px;
  -webkit-animation: scale .7s infinite;
  animation: scale .7s infinite;
}

@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes scale {
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
/* Demo Decorations
------------------------- */
.demo--fillstroke .demo__view {
  float: left;
  width: 48%;
}
.demo--fillstroke .demo__view svg {
  /*border: 1px solid green;*/
}
.demo--fillstroke .demo__switch {
  float: right;
  width: 48%;
}

.demo--svgtext {
  font: bold italic 3em/1 Georgia;
}

/* Demo Nth-child
------------------------- */
.demo--nth-child path {
  -webkit-animation: nthchild-dasharray 5s infinite alternate;
  animation: nthchild-dasharray 5s infinite alternate;
}

.g-icon--airballoon {
  -webkit-transform: scale(0.95) translate(4px, 4px);
  -ms-transform: scale(0.95) translate(4px, 4px);
  transform: scale(0.95) translate(4px, 4px);
}
.g-icon--airballoon path {
  fill: none;
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.8);
  stroke-dasharray: 550 0;
}
.g-icon--airballoon path:nth-child(8n+3) {
  fill: #C24704;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
.g-icon--airballoon path:nth-child(8n+4) {
  fill: #D9CC3C;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.g-icon--airballoon path:nth-child(8n+5) {
  fill: #FFEB79;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.g-icon--airballoon path:nth-child(8n+6) {
  fill: #A0E0A9;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.g-icon--airballoon path:nth-child(8n+7) {
  fill: #00ADA7;
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}
.g-icon--airballoon path:nth-child(8n) {
  fill: #00615d;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes nthchild-dasharray {
  100% {
    stroke: rgba(0, 0, 0, 0.5);
    stroke-dasharray: 0 500;
    fill-opacity: 0;
  }
}

@keyframes nthchild-dasharray {
  100% {
    stroke: rgba(0, 0, 0, 0.5);
    stroke-dasharray: 0 500;
    fill-opacity: 0;
  }
}
.demo--colorful-icon {
  text-align: center;
  font-size: 3em;
}
.demo--colorful-icon svg {
  width: 280px;
  height: 400px;
  margin-top: 170px;
  vertical-align: middle;
  -webkit-animation: ghost 3s linear infinite;
  animation: ghost 3s linear infinite;
}

@font-face {
  font-family: 'svg-dec';
  src: url("/assets/fonts/icomoon-svg-dec/svg-dec.eot?-824yne");
  src: url("/assets/fonts/icomoon-svg-dec/svg-dec.eot?#iefix-824yne") format("embedded-opentype"), url("data:application/octet-stream;base64, d09GRk9UVE8AAAdUAAoAAAAABwwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAA3kAAAN50ir5CE9TLzIAAARwAAAAYAAAAGAIIvy4Y21hcAAABNAAAABUAAAAVOY9AOpnYXNwAAAFJAAAAAgAAAAIAAAAEGhlYWQAAAUsAAAANgAAADYAJWLJaGhlYQAABWQAAAAkAAAAJAQiAilobXR4AAAFiAAAACAAAAAgCUAAIG1heHAAAAWoAAAABgAAAAYACFAAbmFtZQAABbAAAAGBAAABgWJY7Opwb3N0AAAHNAAAACAAAAAgAAMAAAEABAQAAQEBEGljb21vb24tc3ZnLWRlYwABAgABADr4HAL4GwP4GAQeCgAZU/+Lix4KABlT/4uLDAeLa/jU+HQFHQAAAJ4PHQAAAKMRHQAAAAkdAAADcBIACQEBEB8hIyYpLjM4aWNvbW9vbi1zdmctZGVjaWNvbW9vbi1zdmctZGVjdTB1MXUyMHU2OHVFNjAwdUU2MDF1RTYwMgAAAgGJAAYACAIAAQAEAAcACgANAFIA7QHoArn8lA78lA78lA77lA74lPfBFYtgeGRucAiLi/s0+zQFe3t7e3uLe4t7m3ubCPs09zQFbqZ4sou2i9zNzdyLtouyeKZupqiynraL3IvNSYs6CA73lPg0FfsQiycni/sQi/sQ7yf3EIv3EIvv74v3EIv3ECfv+xCLCIv8KBUoizrci+6L7tzc7ovui9w6iyiLKDo6KIsI92f32BWTmZCci5yLwGC2Votsi3B8eXXNfcRkr1UI+5v2FXmhcJpsi1aLYGCLVot6kHqTfa/BxLLNmQif+w8Vq4uL+zRri4v3NAWr+xQV64uLayuLi6sFDsv3hPg0FXKLcod0g3aEeIB7fm1zemyLa4t5kHmVe5V6m3uefpqBlnuNeYyIi4iLiI2NjIyMjAiXl5ySnIuNi46LjoqUipWLlYuki6SPopKgk56Vm5ipo5yri6uLq3qqbaN7mHiWdpIIdJNyj3KLCIvLFYuLBfcZi/Y0iyCLICA0+xmLfot/i3+NV1hPgVCKCIuYBauapaiLq4uQi4+KkFWuaMKLyIv29uL3GYsI95b8RxWLb51yp34Ii4AFV4xck163gYqAioCLW4tfmGih1IvPor+1paCfpJqnmqiTqousi5CLkIqQsG2hY4teCItWbV1cbIqHi4iLhwgO95RrFfchi/cH9weL9yGL9yH7B/cH+yGL+yGL+wf7B4v7IYv7IfcH+wf3IYsIi/hkFfcHi+gui/sHi/sHLi77B4v7B4su6Iv3B4v3B+jo9weLCPckOxWUi5KEi4IIi1sFi3l9fXmLCEuLBXmLfZmLnQhLiwWLeX19eYsIS4sFeYt9mYudCIu7BYuUkpKUiwjriwWUi5KEi4IIi3vLi4ubBYuUkpKUiwjriwX7JPuUFbqLs6SisAimewVvXFhsUYtzi3SQdpUInKcFmoSdh52LCA74lBT4lBWLDAoAAAAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmAgHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAEAAAAAMAAgAAgAEAAEAIABo5gL//f//AAAAAAAgAGjmAP/9//8AAf/j/5waBQADAAEAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAQAAHowVJV8PPPUACwIAAAAAAM9jEQYAAAAAz2MRBgAA/+ACQAHgAAAACAACAAAAAAAAAAEAAAHg/+AAAAJAAAAAAAJAAAEAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAQAAAAIAAAACAAAgAkAAAAIAAAAAAFAAAAgAAAAAAA4ArgABAAAAAAABAB4AAAABAAAAAAACAA4AfwABAAAAAAADAB4ANAABAAAAAAAEAB4AjQABAAAAAAAFABYAHgABAAAAAAAGAA8AUgABAAAAAAAKACgAqwADAAEECQABAB4AAAADAAEECQACAA4AfwADAAEECQADAB4ANAADAAEECQAEAB4AjQADAAEECQAFABYAHgADAAEECQAGAB4AYQADAAEECQAKACgAqwBpAGMAbwBtAG8AbwBuAC0AcwB2AGcALQBkAGUAYwBWAGUAcgBzAGkAbwBuACAAMQAuADAAaQBjAG8AbQBvAG8AbgAtAHMAdgBnAC0AZABlAGNpY29tb29uLXN2Zy1kZWMAaQBjAG8AbQBvAG8AbgAtAHMAdgBnAC0AZABlAGMAUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAC0AcwB2AGcALQBkAGUAYwBHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format("woff"), url("/assets/fonts/icomoon-svg-dec/svg-dec.ttf?-824yne") format("truetype"), url("/assets/fonts/icomoon-svg-dec/svg-dec.svg?-824yne#svg-font-fullsize") format("svg");
  font-weight: normal;
  font-style: normal;
}
.wrapper--iconfont {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 540px;
  text-align: center;
  color: #333;
}

.iconfont__icon {
  display: inline-block;
  width: 216px;
  height: 216px;
  margin: 0 .2em .2em;
  font-family: 'svg-dec';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  text-align: center;
  font-size: 216px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.iconfont__icon:before {
  -webkit-transition: .3s;
  transition: .3s;
}

.icon-cool:before {
  text-shadow: 1px 1px white, 2px 2px white, 3px 3px #333;
  content: "\e602";
}

.icon-cool:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icon-cool:hover:before {
  color: crimson;
}

.icon-alarm:before {
  content: "\e600";
  color: #AAA;
  text-shadow: 0 0 3px #AAA, 0 0 5px #AAA, 0 0 7px #AAA;
}

.icon-alarm:hover:before {
  color: orangered;
  text-shadow: 0 0 0 transparent;
}

.icon-bubbles:before {
  content: "\e601";
  text-shadow: 5px 3px 0 rgba(0, 0, 0, 0.1);
  color: lightskyblue;
}

.icon-bubbles:hover:before {
  text-shadow: -5px -3px 0 rgba(0, 0, 0, 0.1);
  color: deepskyblue;
}

.icon-heart {
  overflow: hidden;
  background: hotpink;
  text-shadow: 0px 0px 0 mediumvioletred,1px 1px 0 mediumvioletred,2px 2px 0 mediumvioletred,3px 3px 0 mediumvioletred,4px 4px 0 mediumvioletred,5px 5px 0 mediumvioletred,6px 6px 0 mediumvioletred,7px 7px 0 mediumvioletred,8px 8px 0 mediumvioletred,9px 9px 0 mediumvioletred,10px 10px 0 mediumvioletred,11px 11px 0 mediumvioletred,12px 12px 0 mediumvioletred,13px 13px 0 mediumvioletred,14px 14px 0 mediumvioletred,15px 15px 0 mediumvioletred,16px 16px 0 mediumvioletred,17px 17px 0 mediumvioletred,18px 18px 0 mediumvioletred,19px 19px 0 mediumvioletred,20px 20px 0 mediumvioletred,21px 21px 0 mediumvioletred,22px 22px 0 mediumvioletred,23px 23px 0 mediumvioletred,24px 24px 0 mediumvioletred,25px 25px 0 mediumvioletred,26px 26px 0 mediumvioletred,27px 27px 0 mediumvioletred,28px 28px 0 mediumvioletred,29px 29px 0 mediumvioletred,30px 30px 0 mediumvioletred,31px 31px 0 mediumvioletred,32px 32px 0 mediumvioletred,33px 33px 0 mediumvioletred,34px 34px 0 mediumvioletred,35px 35px 0 mediumvioletred,36px 36px 0 mediumvioletred,37px 37px 0 mediumvioletred,38px 38px 0 mediumvioletred,39px 39px 0 mediumvioletred,40px 40px 0 mediumvioletred,41px 41px 0 mediumvioletred,42px 42px 0 mediumvioletred,43px 43px 0 mediumvioletred,44px 44px 0 mediumvioletred,45px 45px 0 mediumvioletred,46px 46px 0 mediumvioletred,47px 47px 0 mediumvioletred,48px 48px 0 mediumvioletred,49px 49px 0 mediumvioletred,50px 50px 0 mediumvioletred,51px 51px 0 mediumvioletred,52px 52px 0 mediumvioletred,53px 53px 0 mediumvioletred,54px 54px 0 mediumvioletred,55px 55px 0 mediumvioletred,56px 56px 0 mediumvioletred,57px 57px 0 mediumvioletred,58px 58px 0 mediumvioletred,59px 59px 0 mediumvioletred,60px 60px 0 mediumvioletred,61px 61px 0 mediumvioletred,62px 62px 0 mediumvioletred,63px 63px 0 mediumvioletred,65px 65px 0 transparent;
  border-radius: .2em;
  font-size: 7em;
  line-height: 1.35em;
  color: #FFF;
}

.icon-heart:hover {
  text-shadow: 0px 0px 0 mediumvioletred,-1px 1px 0 mediumvioletred,-2px 2px 0 mediumvioletred,-3px 3px 0 mediumvioletred,-4px 4px 0 mediumvioletred,-5px 5px 0 mediumvioletred,-6px 6px 0 mediumvioletred,-7px 7px 0 mediumvioletred,-8px 8px 0 mediumvioletred,-9px 9px 0 mediumvioletred,-10px 10px 0 mediumvioletred,-11px 11px 0 mediumvioletred,-12px 12px 0 mediumvioletred,-13px 13px 0 mediumvioletred,-14px 14px 0 mediumvioletred,-15px 15px 0 mediumvioletred,-16px 16px 0 mediumvioletred,-17px 17px 0 mediumvioletred,-18px 18px 0 mediumvioletred,-19px 19px 0 mediumvioletred,-20px 20px 0 mediumvioletred,-21px 21px 0 mediumvioletred,-22px 22px 0 mediumvioletred,-23px 23px 0 mediumvioletred,-24px 24px 0 mediumvioletred,-25px 25px 0 mediumvioletred,-26px 26px 0 mediumvioletred,-27px 27px 0 mediumvioletred,-28px 28px 0 mediumvioletred,-29px 29px 0 mediumvioletred,-30px 30px 0 mediumvioletred,-31px 31px 0 mediumvioletred,-32px 32px 0 mediumvioletred,-33px 33px 0 mediumvioletred,-34px 34px 0 mediumvioletred,-35px 35px 0 mediumvioletred,-36px 36px 0 mediumvioletred,-37px 37px 0 mediumvioletred,-38px 38px 0 mediumvioletred,-39px 39px 0 mediumvioletred,-40px 40px 0 mediumvioletred,-41px 41px 0 mediumvioletred,-42px 42px 0 mediumvioletred,-43px 43px 0 mediumvioletred,-44px 44px 0 mediumvioletred,-45px 45px 0 mediumvioletred,-46px 46px 0 mediumvioletred,-47px 47px 0 mediumvioletred,-48px 48px 0 mediumvioletred,-49px 49px 0 mediumvioletred,-50px 50px 0 mediumvioletred,-51px 51px 0 mediumvioletred,-52px 52px 0 mediumvioletred,-53px 53px 0 mediumvioletred,-54px 54px 0 mediumvioletred,-55px 55px 0 mediumvioletred,-56px 56px 0 mediumvioletred,-57px 57px 0 mediumvioletred,-58px 58px 0 mediumvioletred,-59px 59px 0 mediumvioletred,-60px 60px 0 mediumvioletred,-61px 61px 0 mediumvioletred,-62px 62px 0 mediumvioletred,-63px 63px 0 mediumvioletred,65px 65px 0 transparent;
}

.icon-heart:before {
  content: "\68";
}

.wrapper--icons-stroke,
.wrapper--icons-filters {
  position: absolute;
  top: 0;
  bottom: 80px;
  right: 0;
  left: 0;
  height: 22em;
  width: 70%;
  margin: auto;
  text-align: center;
  /*border: 1px solid;*/
}
.wrapper--icons-stroke .icon,
.wrapper--icons-filters .icon {
  display: inline-block;
  position: relative;
  top: 0;
  width: 10em;
  height: 10em;
  margin: 0 1em 1em;
  text-indent: 0;
  -webkit-transition: .2s;
  transition: .2s;
  /*border: 1px solid;*/
}
.wrapper--icons-stroke .icon use,
.wrapper--icons-filters .icon use {
  -webkit-transform: scale(0.85) translate(0.2em, 0.2em);
  -ms-transform: scale(0.85) translate(0.2em, 0.2em);
  transform: scale(0.85) translate(0.2em, 0.2em);
}
.wrapper--icons-stroke .icon:before,
.wrapper--icons-filters .icon:before {
  content: none;
}

.wrapper--icons-stroke .icon {
  fill: none;
  cursor: pointer;
}

.icon--stroke {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 3;
}
.icon--stroke:hover {
  stroke: skyblue;
}

.icon--dasharray {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 3;
  stroke-dasharray: 10 5;
  fill: rgba(0, 0, 0, 0.2);
}
.icon--dasharray:hover {
  fill: transparent;
  stroke-dasharray: 10 0;
}

.icon--gradient {
  stroke-width: 3;
  -webkit-transform-origin: 5em 5em;
  -ms-transform-origin: 5em 5em;
  transform-origin: 5em 5em;
  -webkit-animation: rotation 3s linear infinite;
  animation: rotation 3s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.icon--gradient:hover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.icon--gradient2 {
  stroke-width: 3;
  -webkit-animation: ghost 1.5s linear infinite;
  animation: ghost 1.5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.icon--gradient2:hover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes ghost {
  50% {
    -webkit-transform: translate(0, -0.5em);
    transform: translate(0, -0.5em);
  }
}

@keyframes ghost {
  50% {
    -webkit-transform: translate(0, -0.5em);
    -ms-transform: translate(0, -0.5em);
    transform: translate(0, -0.5em);
  }
}
.icon--multystrokes {
  position: relative;
  text-indent: -1em !important;
  fill: none;
  stroke: #004358;
  stroke-width: 3;
}

.wrapper--icons-currentcolor {
  position: absolute;
  top: 0;
  bottom: 80px;
  right: 0;
  left: 0;
  height: 17.6rem;
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 2.7em;
  font-family: "Ubuntu Condensed",sans-serif;
}
.wrapper--icons-currentcolor .icon {
  display: inline-block;
  position: relative;
  width: 42%;
  margin: 0 1rem 2rem;
  text-indent: 0;
  text-align: left;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}
.wrapper--icons-currentcolor .icon:nth-child(5n+1) {
  color: crimson;
}
.wrapper--icons-currentcolor .icon:nth-child(5n+1):hover {
  color: yellowgreen;
}
.wrapper--icons-currentcolor .icon:nth-child(5n+2) {
  color: orangered;
}
.wrapper--icons-currentcolor .icon:nth-child(5n+2):hover {
  color: crimson;
}
.wrapper--icons-currentcolor .icon:nth-child(5n+3) {
  color: gold;
}
.wrapper--icons-currentcolor .icon:nth-child(5n+3):hover {
  color: orangered;
}
.wrapper--icons-currentcolor .icon:nth-child(5n+4) {
  color: yellowgreen;
}
.wrapper--icons-currentcolor .icon:nth-child(5n+4):hover {
  color: gold;
}
.wrapper--icons-currentcolor .icon:nth-child(5n) {
  color: skyblue;
}
.wrapper--icons-currentcolor .icon svg {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  vertical-align: middle;
}
.wrapper--icons-currentcolor .icon use {
  fill: currentColor;
  stroke: currentColor;
  -webkit-transform: scale(0.85) translate(0.2em, 0.2em);
  -ms-transform: scale(0.85) translate(0.2em, 0.2em);
  transform: scale(0.85) translate(0.2em, 0.2em);
}
.wrapper--icons-currentcolor .icon:hover use {
  fill-opacity: 0;
  stroke-width: 5;
}
.wrapper--icons-currentcolor .icon:before {
  content: none;
}

/* Browsers
------------------------------- */
.list--browsers-inside LI {
  margin-bottom: 50px;
}

.browsers {
  display: inline-block;
  text-indent: 0;
}
.browsers DT {
  display: inline-block;
  width: 265px;
  margin-right: 40px;
}

.list--problems DT {
  width: 200px;
}

.list--support-stacks DT {
  width: 327px;
}

.list--cssmasks DL {
  vertical-align: top;
}
.list--cssmasks DT {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.browser {
  display: inline-block;
  width: 64px !important;
  height: 64px !important;
  margin-right: 20px;
  background: url(../../assets/img/parts/sprite-browsers-64.png) 0 0 no-repeat;
  vertical-align: middle;
  text-indent: 0;
}
.browser:after {
  display: inline-block;
  margin: -.5em 0 0;
  padding: 0 5px 0 3.3em;
  vertical-align: top;
  font-size: .75em;
  line-height: 1.4;
  font-weight: bold;
  white-space: nowrap;
}

.list--support-stacks .browser {
  margin-right: 11px;
}

.no-support {
  opacity: .2;
}

.chrome {
  background-position: 0 0;
}

.firefox {
  background-position: 0 -64px;
}

.ie-8 {
  background-position: 0 -128px;
}
.ie-8:after {
  content: "8";
  padding-left: 3.7em;
}

.ie-9 {
  background-position: 0 -192px;
}
.ie-9:after {
  content: "9+";
  padding-left: 3.7em;
}

.opera-old {
  background-position: 0 -256px;
}

.opera-12-mb-min:after {
  content: "12, Mobile, Mini";
}

.opera-12:after {
  content: "12";
}

.opera-min:after {
  content: "Mini";
}

.opera-mob {
  margin-right: 50px;
}
.opera-mob:after {
  content: "Mobile";
}

.opera-13 {
  background-position: 0 -320px;
}
.opera-13:after {
  content: "13";
}

.safari {
  background-position: 0 -384px;
}

/*.ie8:before {
  background-position: -90px 0;
  }*/
/*
.opera-mob:before {
  background-position: -150px 0;
  }
.opera-mini:before {
  background-position: -150px 0;
  }*/
